<!DOCTYPE html>
<html>
  
<head>
  <meta charset="UTF-8">
  <title>Canarinho Putasso | PI5</title>
</head>
<body>
  <h1>QR code</h1> 
  <img src="<%= qrcodeImage %>">
  <a href= "http://127.0.0.1:5000/"><h2> Voltar para Paginal Inicial</h2></a>
</body>
<style>
  body{
    background-color: rgb(20 20 20 / 18%);
    margin-top: 12%;
  }
  img {
    margin-left: 31%;
  }
  h1 {
    margin-left: 34%;
  }
  h2 {
    margin-left: 30%;
  }
</style>
</html>